@import "./reset.css";

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background: url(./img/background.png);
    background-position: center;
    background-size: cover;
}

.game_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.game_button {
    width: 60px;
    height: 60px;
    background-color: wheat;
    border: 4px solid black;
    font-size: 24px;
    transition: transform 300ms ease-in;
}

.game_button:hover {
    transform: scale(1.1);
}

.game_timer {
    width: 100px;
    background-color: white;
    text-align: center;
    border: 5px solid black;
    font-size: 23px;
    margin-top: 8px;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}

.game_score {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 8px;
    background-color: darksalmon;
    visibility:hidden;
    user-select: none;
    cursor: auto;
}

.game_field {
    position: relative;
    width: 100%;
    height: 100%;
}

.pop-up {
    position: absolute;
    bottom: 30%;
    display: block;
    width: 400px;
    height: 140px;
    padding: 20px;
    background-color: #00000090;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.pop-up_hide {
    display: none;
}

.pop-up_refresh {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
}

.pop-up_massage {
    display: block;
}
.carrot,
.bug {
    transition: transform 100ms ease-in;
}
.carrot:hover,
.bug:hover {
    transform: scale(1.1);
}